* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    background-color: black;
}