* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: beige;
    border: 3px solid orange;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 24px;
    font-weight: bold;
    margin: 50px;
}

.container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 2px solid white;
    background-color: black;
}

.activated-square {
    border: 2px solid white;
    background-color: white;
}